body {
    background-image: url("http://i.imgur.com/eocinaL.jpg");
    background-attachment: fixed;
    background-position: center;
    background size: 100%;
}

br {
    line-height: 10px;
 }

.abr {
  text-align: center;
}


.bav
{
position:absolute;
}

p
{
 text-align: middle;
}