<h1 class = "title2">Advanced Stats<h1>
<div class="container">
  <div class="row">
    <div class="col-md-4"><br></br><br></br><img src = "http://i58.tinypic.com/14lncw6.jpg"></div>
    <div class="col-md-6">
      <div class="jumbotron">
      <h1>Statistics</h1>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      
    </div>