<div class="container">
  <div class="row">
    <div class="col-md-6"><br></br><br></br><img src = "http://i58.tinypic.com/14lncw6.jpg"></div>
    <div class="col-md-6">
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            Pitches
          </h3>
        </div>
        <div class="panel-body">
          <h4 class="text-center">
  <form action="/create_pres">
    What Pitch Type the First Pitch? 
      <br></br> 
<select name="fbof">
<option value='ball'>Fastball</option>
<option value='strike'>Off-Speed</option>
</select>
      <br> </br>
          <br  />
   Where was the First Pitch? 
      <br  /> 
        <h5> Please Respond with the Correlating Box's Number. </h5> 
      <br  />
     <input type="text" name="ploco" placeholder="Pitch Location">
           <br> </br>
      <br> </br>
   What Happened to the Pitch? 
      <br></br>
<select name="bs">
<option value='ball'>Ball</option>
<option value='strike'>Called Strike</option>
<option value='strike'>Swinging Strike</option>
<option value='strike'>Foul Ball</option>
<option value='strike'>Ball in Play</option>
</select>
<br> </br>
  <br> </br>
     <input type="submit">
  </form>
</h4>     
<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">8</a></li>
    <li><a href="#">9</a></li>
    <li><a href="#">10</a></li>
    <li><a href="#">11</a></li>
    <li><a href="#">12</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<div class = "abr"> <h2> <a href=""> At Bat Results </a> </h2> </div>
    </div>
  </div>
</div>
</p>